.container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    border: none;
    height: 90px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}

.button:not(:last-child) {
    margin-bottom: 5px;
}

.buttonNameContainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dashButtonBackgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.buttonName {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.buttonBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: var(--dashButtonBackgroundBlurAmount);
    -moz-filter: var(--dashButtonBackgroundBlurAmount);
    -o-filter: var(--dashButtonBackgroundBlurAmount);
    -ms-filter: var(--dashButtonBackgroundBlurAmount);
    filter: var(--dashButtonBackgroundBlurAmount);
    background-position: center;
    transform: scale(1.1);
}

@media (min-width: 767px) {
    .button {
        height: 200px;
        width: calc((100% / 2) - (5px / 2));
        margin-right: 5px;
    }

        .button:nth-child(2n) {
            margin-right: 0;
        }

        .button:nth-last-child(-n+2) {
            margin-bottom: 0px;
        }
}