.position {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.container {
    position: relative;
    height: 70px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
}

@supports (backdrop-filter: blur(10px)) {
    .container {
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@supports (-webkit-backdrop-filter: blur(10px)) {
    .container {
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.content {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.websiteIconContainer {
    flex: 1;
    height: 30px;
}

    .websiteIconContainer > button {
        border: none;
        background-color: transparent;
        height: 100%;
        padding: 0;
    }

        .websiteIconContainer > button:hover {
            cursor: pointer;
        }

        .websiteIconContainer > button > img {
            opacity: 0.5;
            height: 100%;
        }

.navbarTitle {
    flex: 5;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.menuButtonContainer {
    flex: 1;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

    .menuButtonContainer > button {
        border: none;
        background-color: transparent;
        height: 100%;
        padding: 0;
    }

        .menuButtonContainer > button:hover {
            cursor: pointer;
        }

        .menuButtonContainer > button > img {
            opacity: 0.5;
            height: 100%;
        }

.menu {
    background-color: white;
    min-width: 275px;
    position: absolute;
    right: 0;
    height: 100px;
}

    .menuClosed {
        display: none;
    }