.background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    background-color: var(--settingsBackgroundColor);
}

.container {
    color: white;
    position: fixed;
    background-color: var(--settingsContainerBackgroundColorFallback);
    height: 400px;
    width: 275px;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.themeContainer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

     .themeContainer > button {
         background-color: transparent;
         border: none;
         height: 40px;
         padding: 0 15px;
     }

        .themeContainer > button:hover {
            cursor: pointer;
        }

        .themeContainer > button:last-child {
            padding-right: 0;
        }

    .activeThemeIcon, .nonActiveThemeIcon {
        height: 100%;
    }

    .activeThemeIcon {

    }

    .nonActiveThemeIcon {
        opacity: 0.3;
    }

@supports (backdrop-filter: var(--settingsContainerBlurAmount)) {
    .container {
        backdrop-filter: var(--settingsContainerBlurAmount);
        background-color: var(--settingsContainerBackgroundColor);
    }
}

@supports (-webkit-backdrop-filter: var(--settingsContainerBlurAmount)) {
    .container {
        -webkit-backdrop-filter: var(--settingsContainerBlurAmount);
        background-color: var(--settingsContainerBackgroundColor);
    }
}